{% extends "index.j2" %}

{% block child_page %}
<div class="row mt-4 mb-4">
    <div class="col text-center">
        {# <img src="{{url_for('static', filename='img/logo.png')}}" style="width: 300px; height: inherit" /> #}
        <h2 class="mt-3">AZPlay</h2>
        <h5>Simple Audio Playout System</h5>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p>This is where some cool dashboard stuff will live in the future.</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}