{% extends "index.j2" %}

{% block child_page %}
<div class="row">
    <div class="col text-center">
        <h3>Users</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="d-table" class="table table-striped" style="display:none">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Locked</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.role == 0 %}
                            Viewer
                            {% elif user.role == 1 %}
                            Operator
                            {% elif user.role == 2 %}
                            Admin
                            {% else %}
                            <i>Unknown</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_locked %}
                            🔒 Locked
                            {% else %}
                            🔓 Unlocked
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('update_user', user_id=user.id) }}" class="btn btn-sm btn-secondary"
                                role="button">Edit</a>
                            <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-sm btn-danger"
                                role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <a href="{{url_for('new_user')}}" class="btn btn-primary ripple-surface mb-4" role="button">Add User
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#d-table').DataTable();
        document.getElementById('loading').style.display = 'none';
        document.getElementById('d-table').style.display = '';
    });
</script>
{% endblock %}