{% extends "index.j2" %}

{% block child_page %}
<div class="row">
    <div class="col text-center">
        <h1>404</h1>
        <h5>The thing you were looking for isn't in the place you thought it was in.</h5>
        <h5><i>Sad computer noises...</i></h5>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}