{% extends "index.j2" %}

{% block child_page %}
<div class="row">
    <div class="col text-center">
        <h1>500</h1>
        <h5>So, okay, the server really didn't like whatever you just did...</h5>
        <h5><i>Don't do it again.</i></h5>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}